  <footer class="mt-auto text-white-10">
    <small class="text-center mt-2"> 
        <a href="/" class="text-white"></a>EmoTrack<a href="" class="text-white"></a>
        <p>Copyright © Sam Waugh 2024</p>
  </footer>